h1 {
    color:#3734d8;
    text-align: center;
    
}

p {
color:#b6b6b6;
margin: 20px;
}

button {
    background-color: #0f8f31;
    color: #ffffff;
    border: none;
    padding: 12px;
    margin: 12px;
    cursor: pointer;
    
}

button:hover{
background-color: #0f558f;
}
